.container {
display:flex;
position:center;

}

.review-list {
  width: 23rem;
  display: flex;

}
.div-rating {
  display: flex;
  position: center;
  margin-bottom: 8px;

}
.rating-div{
    width: 5rem;
}
.review-h1 {
  font-size: 11px;
  margin-top: 19px;
  margin-left: 7px;
  font-family: Helvetica, Arial, sans-serif, Symbol;
}

#fa {
  font-size: 18px;
}
.review-time {
  margin-top: 11px;
  margin-left: 23em;
  font-family: Helvetica, Arial, sans-serif, Symbol;
  font-size: 8px;
  width: 9rem;
}
.div-time{
  margin-right: 16rem;

}
.review-user {
  margin-top: -2px;
}
.review-item {
  margin-bottom: 9px;
  width: 23rem;

}
.review-paragraph {
  font-family: Helvetica, Arial, sans-serif, Symbol;
  font-size: 10px;
  font-weight: 750;
}
.review-answer {
  font-family: Helvetica, Arial, sans-serif, Symbol;
  margin-bottom: 9px;
  font-size: 9px;
  color: grey;
}
.helpful-div {
  display: flex;
  margin-bottom: 9px;
}
.helpful-word {
  font-family: Helvetica, Arial, sans-serif, Symbol;
  font-size: 8px;
  color: grey;
}
.btn-yes {
  font-family: Helvetica, Arial, sans-serif, Symbol;
  width: 4em;
  background-color: white;
  font-size: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 8px;
  margin-top: 0.49rem;
  border:20px;
  text-decoration-line: underline;
  text-decoration-color: grey;
  color: grey;
}

.btn-report {
  background-color: white;
  font-size: 8px;
  border: none;
  outline: none;
  width: 4em;
    margin-left: 8px;
    margin-top: 0.49rem;
  text-decoration-line: underline;
  text-decoration-color: grey;
  color: grey;
  cursor: pointer;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-text{
  font-size: 8px;
  border: 4px;
  color: black;
  background-color: white;
  font-family: Helvetica, Arial, sans-serif, Symbol;
  margin-top: 11px;
}
.MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button{
  font-size: 8px;
  border: 4px;
  color: black;
  background-color: white;
  font-family: Helvetica, Arial, sans-serif, Symbol;
  margin-bottom: 0.1rem;

}
.MuiButton-label{
  font-size: 8px;
  font-family: Helvetica, Arial, sans-serif, Symbol;  
}
hr {
  width: 23rem;
  text-align: left;
  margin-left: 0;
}
.vl {
  border-left: 1px solid grey;
  margin-top: 0.4rem;
  position: absolute;

 
  margin-left: 3.97rem;;
  height: 10px;
}
.div-button{
  display:flex
}
.ui button{
  background-color: white;
  border-radius:none;
  font-size: 12px;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.ui.button{
  border-radius: 0rem;
  margin-right: 1rem;
  font-weight:400;
}
/* ##################################### */
.show-more{
  font-size: 0.5rem;
    margin-top: 0rem;
    color: grey;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif, Symbol;
}
/* ########################"
#################"
#########################"" */
.div-container{
  display:flex;
  margin-right: 5rem;
}
.bar{
  height: 1rem;
  margin-bottom: 1rem;
  border-radius: 0rem;
}
.ui.disabled.progress{
  background-color: white;
  height: 0.5rem;
}